:root{
    --Primary-Light: rgb(60, 0, 128);
    --Primary-Dark: rgb(255, 254, 254);
    --Dark-Grayish-Blue: hsl(227, 12%, 61%);
    --Very-Dark-Blue: hsl(263, 67%, 15%);
    --Very-Pale-Red: hsl(13, 100%, 96%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}
  
body {
    background: var(--Very-Light-Gray);
    color: var(--Very-Dark-Blue);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px; 
    text-align: center;
}

a {
    display: inline-block;
    color: inherit;
    text-decoration: none; 
}

li {
    list-style: none;
    margin: auto 1.2rem; 
}

p, h3{
    line-height: 2rem;
    padding-top: 1rem;
}

nav {
    background: rgb(241, 234, 234);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    padding: 1.3rem 5rem;
    z-index: 1;
    /* box-shadow: 0 5px 15px 1px rgba(110, 103, 103, 0.2); */
}

nav .hamburger {
    display: none;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

nav img {
    width: 100px;
}

.active {
    color: var(--Primary-Light); 
}

nav li:hover {
    color: var(--Dark-Grayish-Blue);
}

header{
    width: 100%;
}

header .header{
    background: rgb(241, 234, 234);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
    width: 100%;
    padding: 3rem 5rem;
    padding-bottom: 0;
}

header .header-info{
    width: 50%;
}

header .header-info span{
    font-weight: 800;
}

header .header-info div{
    background: rgb(255, 255, 255);
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    margin: 2rem auto auto auto;
    border-radius: 25px;
    padding: 0.1rem;
}

header .header-info div input{
    width: 290px;
    outline: none;
    border-radius: 25px;
    border: none;
    padding: 0.8rem;
}

header .header-info div .btn{
    width: 120px;
    margin: 0;
}

header .header-image, .header-image img{
    width: 100%;
}

header .header-graphics{
    width: 100%;
}

header .header-graphics .graphics{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    margin: auto;
    border-bottom: 1px solid rgba(110, 103, 103, 0.2);
}

header .header-graphics p{
    margin: 1rem;
}

header .header-graphics img{
    width: 170px;
    padding: 2rem;
    margin-right: 4rem;
}

.btn {
    width: auto;
    border-radius: 25px;
    padding: 0.6rem 1rem;
    margin: 1rem 2rem;
    font-size: 1rem; 
    margin-left: 0;
}

.btn-red {
    background: var(--Primary-Light);
    color: var(--Very-Light-Gray);
}

.btn-white {
    color: var(--Primary-Light);
    background: var(--Very-Light-Gray);
}

.btn:hover {
    transition: all 200ms linear;
    opacity: 0.8;
}

i{
    display: inline-block;
    margin-right: 1rem;
    padding-bottom: 1rem;
    color: inherit;
}
  
#section1{
    width: 100%;
    padding: 5rem;
    margin-top: 1rem;
}
  
#section1 p{
    font-weight: bold;
}
  
#section1 .box-wrap{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 3rem auto;
}
  
#section1 .box-wrap .box1{
    width: 300px;
    padding-right: 5rem;
    border-right: 2px solid rgba(110, 103, 103, 0.2);
}
  
#section1 .box-wrap .box2{
    width: 300px;
    padding-left: 5rem;
}
  
#section2{
    background: rgb(241, 234, 234);
    width: 100%;
    padding: 5rem;
}
  
#section2 .p1{
    width: 50%;
    margin: auto;
}
  
#section2 .section2{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 2rem auto;
}
   
#section2 .box1{
    width: 400px;
}
   
#section2 .box1 div{
    background: rgb(255, 255, 255);
    width: 100%;
    text-align: left;
    line-height: 0.5rem;
    padding: 1rem 2rem;
    padding-right: 8rem;
    margin: 1rem;
    border-radius: 10px;
    box-shadow: 0 5px 15px 1px rgba(110, 103, 103, 0.2); 
}
   
#section2 .box1 .box{
    background: var(--Primary-Light);
    color: white;
}
   
#section2 .box2{
    width: 600px;
}
   
#section2 .box2 img{
    width: 100%;
}
   
footer{
    background: rgb(232, 222, 248);
    width: 100%;
    padding: 5rem;
}

footer .p1{
    width: 60%;
    margin: auto;
}
  
footer .footer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2rem auto;
    margin-bottom: 0;
}
  
footer .footer .box1{
    width: 150px;
}
  
footer .footer .box2{
    width: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
  
footer .footer .box2 div{
    width: 200px;
    background: rgb(243, 241, 245);
    margin: 0.5rem;
    padding: 1rem;
}
  
